<div class="address_container">
    <div class="search_container">
        <input type="text" placeholder="Search..." #search (keydown.enter)="onSearch(search.value)">
    </div>
    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    <br><br><br>
    <div class="form_container">
        <h5>{{addEditLabel}} Address</h5>
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
            <div class="form_control">
                <label for="branch_name">Branch Name</label>
                <input type="text" id="branch_name" formControlName="branchName">
                <div class="error" *ngIf="(addressForm.get('branchName')?.touched || addressForm.get('branchName')?.dirty) && addressForm.get('branchName')?.invalid && addressForm.get('branchName')?.errors">
                    <span *ngIf="addressForm.get('branchName')?.errors?.required">Branch Name is required</span>
                </div>
            </div>
            <div class="form_control">
                <label for="branch_address">Branch Address</label>
                <textarea type="text" id="branch_address" rows="10" formControlName="branchAddress"></textarea>
                <div class="error" *ngIf="(addressForm.get('branchAddress')?.touched || addressForm.get('branchAddress')?.dirty) && addressForm.get('branchAddress')?.invalid && addressForm.get('branchAddress')?.errors">
                    <span *ngIf="addressForm.get('branchAddress')?.errors?.required">Address is required</span>
                </div>
            </div>
            <div class="form_control">
                <label for="type">Address Type</label>
                <select id="type" placeholder="Select Address Type" formControlName="addressType">
                    <option class="option" value="Registered">Registered</option>
                    <option class="option" value="Corporate">Corporate</option>
                    <option class="option" value="Branch">Branch</option>
                </select>
                <div class="error" *ngIf="(addressForm.get('addressType')?.touched || addressForm.get('addressType')?.dirty) && addressForm.get('addressType')?.invalid && addressForm.get('addressType')?.errors">
                    <span *ngIf="addressForm.get('addressType')?.errors?.required">Sector is required</span>
                </div>
            </div>
            <div class="form_control">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email">
                <div class="error" *ngIf="(addressForm.get('email')?.touched || addressForm.get('email')?.dirty) && addressForm.get('email')?.invalid && addressForm.get('email')?.errors">
                    <span *ngIf="addressForm.get('email')?.errors?.required">Email is required</span>
                    <span *ngIf="addressForm.get('email')?.errors?.email">Mot a valid Email</span>
                </div>
            </div>
            <div class="form_control">
                <label for="mobile">Mobile Number</label>
                <input type="text" id="mobile" formControlName="mobile">
                <div class="error" *ngIf="(addressForm.get('mobile')?.touched || addressForm.get('mobile')?.dirty) && addressForm.get('mobile')?.invalid && addressForm.get('mobile')?.errors">
                    <span *ngIf="addressForm.get('mobile')?.errors?.required">Mobile Number is required</span>
                </div>
            </div>
            <div class="form_control">
                <label for="whatsappNumber">Whatsapp Number</label>
                <input type="text" id="whatsappNumber" formControlName="whatsappNumber">
                <div class="error" *ngIf="(addressForm.get('whatsappNumber')?.touched || addressForm.get('whatsappNumber')?.dirty) && addressForm.get('whatsappNumber')?.invalid && addressForm.get('whatsappNumber')?.errors">
                    <span *ngIf="addressForm.get('whatsappNumber')?.errors?.required">Whatsapp Number is required</span>
                </div>
            </div>
            <div class="form_control">
                <label for="maps_link">Google Maps Link</label>
                <input type="text" id="maps_link" formControlName="maps_link">
                <div class="error" *ngIf="(addressForm.get('maps_link')?.touched || addressForm.get('maps_link')?.dirty) && addressForm.get('maps_link')?.invalid && addressForm.get('maps_link')?.errors">
                    <span *ngIf="addressForm.get('maps_link')?.errors?.required">Google Maps Link is required</span>
                </div>
            </div>
            <button type="submit">Save & Update</button>
        </form>
    </div>
</div>