.sectors_container {
    padding: 25px;
    .search_container {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
        input {
            height: 34px;
            padding: 0 15px;
            outline: none;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            color: #000;
            font-size: 13px;
        }
    }
}
.form_container {
    h5 {
        font-size: 20px;
        font-weight: 400;
        color: #8a3265;
        margin-bottom: 30px;
    }
    form {
        width: 75%;
        .form_control {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 15px;
            label {
                font-size: 15px;
                font-weight: normal;
            }
            input[type=text], textarea {
                width: 100%;
                outline: none;
                border: 1px solid #d4d5d9;
                border-radius: 5px;
                padding: 0 10px;
                font-size: 14px;
                font-weight: 400;
                color: #454545;
                box-sizing: border-box;
                &:focus {
                    box-shadow: 0 0 3px 2px rgba(133, 50, 98, .7);
                }
            }
            input {
                height: 36px;
            }
            textarea {
                padding: 10px;
            }
            .error {
                font-size: 13px;
                color: #ef0000;
                font-weight: 400;
            }
        }
        button {
            border: none;
            outline: none;
            padding: 12px 26px;
            margin: 25px 0 0 auto;
            color: #fff;
            background: #8a3265;
            border-radius: 20px;
            font-size: 15px;
            font-weight: 500;
            display: block;
            cursor: pointer;
        }
        .selected_img_preview {
            padding: 15px 20px;
            border: 1px solid #e4e5e9;
            border-radius: 10px;
            box-shadow: 1px 1px 6px rgb(0 0 0 / 20%);
            display: flex;
            justify-content: space-between;
            .icons {
                display: flex;
                gap: 25px;
                i {
                    cursor: pointer;
                }
                .fa-eye {
                    color: #8a3265;
                }
                .fa-times {
                    color: #ec2525;
                }
            }
        }
    }
}
::ng-deep {
    .ng2-smart-filters {
        display: none !important;
    }
    ng2-smart-table table {
        border: 1px solid #e4e5e9;
    }
    ng2-smart-table thead {
        background: #8a3265;
    }
    ng2-smart-table td {
        text-align: center;
    }
    .ng2-smart-title, ng2-smart-table-title a {
        color: #fff !important;
        &:hover {
            text-decoration: none !important;
        }
        &::after {
            border-bottom-color: #fff !important;
        }
    }
    .ng2-smart-row {
        border-top: 1px solid #e4e5e9;
    }
    table-cell-view-mode {
        text-align: center;
        .text {
            div {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    ng2-st-tbody-edit-delete {
        display: flex !important;
        justify-content: space-around !important;
        a {
            color: #8a3265 !important;
        }
    }
}