.customer_grievence_container {
    padding: 25px;
    .button {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        button {
            border: none;
            outline: none;
            padding: 12px 26px;
            margin: 25px 0 0 auto;
            color: #fff;
            background: #8a3265;
            border-radius: 20px;
            font-size: 15px;
            font-weight: 500;
            display: block;
            cursor: pointer;
        }
    }
}

::ng-deep {
    .ck-editor__editable {
        height: 420px !important;
    }
}