<div class="products_container">
    <div class="search_container">
        <input type="text" placeholder="Search..." #search (keydown.enter)="onSearch(search.value)">
    </div>
    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    <br><br><br>
    <div class="form_container">
        <h5>{{addEditLabel}} Product</h5>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="form_control">
                <label for="product_name">Product Name</label>
                <input type="text" id="product_name" formControlName="name">
                <div class="error" *ngIf="(productForm.get('name')?.touched || productForm.get('name')?.dirty) && productForm.get('name')?.invalid && productForm.get('name')?.errors">
                    <span *ngIf="productForm.get('name')?.errors?.required">Name is required</span>
                </div>
            </div>
            <div class="form_control">
                <label for="prod_desc">Product Description</label>
                <textarea type="text" id="prod_desc" rows="10" formControlName="description"></textarea>
                <div class="error" *ngIf="(productForm.get('description')?.touched || productForm.get('description')?.dirty) && productForm.get('description')?.invalid && productForm.get('description')?.errors">
                    <span *ngIf="productForm.get('description')?.errors?.required">Description is required</span>
                </div>
            </div>
            <div class="form_control">
                <label for="icon">Sector Icon</label>
                <input type="file" #sectorIcon id="icon" formControlName="icon" (change)="uploadImg($event)">
                <div class="error" *ngIf="(productForm.get('icon')?.touched || productForm.get('icon')?.dirty) && productForm.get('icon')?.invalid && productForm.get('icon')?.errors">
                    <span *ngIf="productForm.get('icon')?.errors?.required">Icon is required</span>
                </div>
                <div class="selected_img_preview" *ngIf="productIcon && productIcon.name">
                    <div class="name">Sector Icon</div>
                    <div class="icons">
                        <i class='fas fa-eye' (click)="previewImage()"></i>
                        <i class='fas fa-times' (click)="sectorIcon.value = '';removeImage()"></i>
                    </div>
                </div>
            </div>
            <div class="form_control">
                <label for="sector">Sector</label>
                <select id="sector" placeholder="Select Sector" formControlName="sector">
                    <option class="option" *ngFor="let sector of sectors" [value]="sector.id">{{sector.name}}</option>
                </select>
                <div class="error" *ngIf="(productForm.get('sector')?.touched || productForm.get('sector')?.dirty) && productForm.get('sector')?.invalid && productForm.get('sector')?.errors">
                    <span *ngIf="productForm.get('sector')?.errors?.required">Sector is required</span>
                </div>
            </div>
            <button type="submit">Save & Update</button>
        </form>
    </div>
</div>