<div class="logo_container">
    <img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsecurisk_logo_small.png?alt=media&token=bb36a115-c35d-477d-9e6d-2c0f992d8d3a" alt="">
    <div class="waviy">
        <span style="--i:1">S</span>
        <span style="--i:2">E</span>
        <span style="--i:3">C</span>
        <span style="--i:4">U</span>
        <span style="--i:5">R</span>
        <span style="--i:6">I</span>
        <span style="--i:7">S</span>
        <span style="--i:8">K</span>
    </div>
</div>